main {
  height: 100vh;
  display: flex;

  .left-bar {
    width: 415px;
    min-width: 364px;
    height: 100%;
    background-color: #fff;
  }

  .right-bar {
    width: 100%;
  }
}

.left-bar {
  .search-bar {
    background-color: #fff;
    width: 100%;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 16px;

    .icon-grey {
      font-size: 24px;
    }

    .input-group {
      background-color: $light_grey;
      height: 40px;
      width: 100%;
      border-radius: 22px;
      display: flex;
      align-items: center;
      gap: 16px;
      padding: 8px 16px;

      input {
        width: 100%;
        color: $navy_grey;
        border: none;
        background-color: inherit;
        outline: none;
      }
    }
  }

  .chat {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    padding: 12px 16px;
    gap: 16px;
    position: relative;

    img {
      width: 48px;
      height: 48px;
    }

    .info-wrap {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 4px;

      &__top {
        @include d-flex-space-between;

        strong {
          color: $rich_black;
          @include truncate;
        }

        span {
          color: $navy_grey;
        }
      }

      &__bottom {
        p {
          color: $navy_grey;
          @include truncate;
        }

        &-new {
          @include d-flex-space-between;

          span {
            background-color: $light_green;
            color: #fff;
            border-radius: 50%;
            height: 18px;
            width: 18px;
            text-align: center;
          }
        }
      }

      &__top-bot {
        @include d-flex-space-between;

        strong {
          color: $rich_black;
          @include truncate;
        }

        span {
          color: $navy_grey;
        }

        img {
          width: 24px;
          height: 24px;
        }

        .verified-sender {
          display: flex;
          align-items: center;
        }
      }
    }
  }
}

.right-bar {
  position: relative;
  .top-bar {
    background-color: #fff;
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .message {
      &-sender {
        width: 100%;
        display: flex;
        align-items: center;
        gap: 16px;

        &-info {
          @include truncate;
        }

        .last-seen {
          color: $navy_grey;
        }
      }

      &-buttons {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
  }

  .messages-bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 24px 20%;

    .last-message-date {
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
      &-content {
        color: #fff;
        background-color: #3d70b899;
        border-radius: 12px;
        padding: 4px;
        font-weight: 400;
      }
    }

    .message {
      &-other {
        @include message-box(#fff, "left");
      }

      &-you {
        @include message-box($light_green, "right");
      }
    }

    .message-input-bar {
      width: 100%;
      height: 56px;
      background-color: #fff;
      margin-top: 16px;
      border-radius: 12px;
      padding: 8px 16px;
      gap: 16px;
      @include d-flex-space-between;

      .fa-face-smile {
        font-size: 24px;
        color: $navy_grey;
      }

      input {
        width: 100%;
        border: none;
      }
    }
  }
}

// icons
.icon-wrap {
  width: 40px;
  height: 40px;
  padding: 8.5px 8.5px;
}
.icon-grey {
  color: $navy_grey;
}
.selected {
  background-color: $light_grey;
}
